.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div, .flexbox-container > textarea {
	width: 50%;
	padding: 10px;
	border: 1px solid #aaa;
}

.flexbox-container > textarea {
	height: auto !important;
	margin-right: 10px;
}

#preview {
	background-color: white;
}

#preview:before {
	content: 'preview';
	font-family: sans-serif;
	opacity: 0.2;
}

footer {
	display: block;
}

a {
	font-family: sans-serif;
	font-size: 0.75em;
	text-decoration: none;
}

.hidden {
	visibility: hidden;
}