<dom-module id="latex-preview">
	<template>
		<link rel="stylesheet" type="text/css" href="css/latex-preview.css">
		<section class="flexbox-container">
			<textarea id="input" class="column-1" value="{{value}}" role="textbox" aria-multiline="true"></textarea>
			<div id="preview" class="column-2 hidden">
				$${{value}}$$
			</div>
		</section>
		<footer><a href="{{editorLink}}" target="_blank">view in editor</a></footer>
	</template>
	<script src="js/latex-preview.js"></script>
</dom-module>